//- Accordion Question and Answer:

-
  var accordionItems = [
    {
      title: 'Чи безпечна вакцинація?',
      desc: 'Якщо використовувати вакцини затверджені міністерством охорони здоров\'я, які зберігались в належних умовах і кінцева дата не пройшла, то цілком безпечно. Ускладнення можуть виникнути лише у 0,00001 % людей',
      link: 'Перелік затверджених вакцин'
    },
    {
      title: 'Які протипоказання вакцинації?',
      desc: 'Якщо використовувати вакцини затверджені міністерством охорони здоров\'я, які зберігались в належних умовах і кінцева дата не пройшла, то цілком безпечно. Ускладнення можуть виникнути лише у 0,00001 % людей',
      link: 'Перелік затверджених вакцин'
    },
    {
      title: 'Де робити вакцинацію?',
      desc: 'Якщо використовувати вакцини затверджені міністерством охорони здоров\'я, які зберігались в належних умовах і кінцева дата не пройшла, то цілком безпечно. Ускладнення можуть виникнути лише у 0,00001 % людей',
      link: 'Перелік затверджених вакцин'
    },
    {
      title: 'З якого віку можна робити вакцинацію дитині?',
      desc: 'Якщо використовувати вакцини затверджені міністерством охорони здоров\'я, які зберігались в належних умовах і кінцева дата не пройшла, то цілком безпечно. Ускладнення можуть виникнути лише у 0,00001 % людей',
      link: 'Перелік затверджених вакцин'
    },
    {
      title: 'Що потрібно мати при собі, коли я вирішив сходити на вакцинацію?',
      desc: 'Якщо використовувати вакцини затверджені міністерством охорони здоров\'я, які зберігались в належних умовах і кінцева дата не пройшла, то цілком безпечно. Ускладнення можуть виникнути лише у 0,00001 % людей',
      link: 'Перелік затверджених вакцин'
    }
  ];

mixin accordion_qa(array)
  - array = array || accordionItems
  .accordion__qa
    +headingTitle("Питання і відповіді")
    +headingLink("Всі питання")
    div.clearfix
    ul.accordion__qa-list
      each obj in array
        li.accordion__qa-item
          .accordion__qa-title.bg_white-noise
            h4.accordion__qa-title-text.h4.font_black= obj.title
            .accordion__qa-arrow-wrapper
              i.accordion__qa-arrow.fill_gray-to-black: +svg('arrow_small')
          .accordion__qa-panel.bg_white-noise
            p= obj.desc
            a(href="#!")= obj.link
