@font-face {
  font-family: 'Akrobat-Bold';
  src: url('../fonts/Akrobat/Akrobat-Bold.eot');
  src: url('../fonts/Akrobat/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat/Akrobat-Bold.woff') format('woff'),
  url('../fonts/Akrobat/Akrobat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat-SemiBold';
  src: url('../fonts/Akrobat/Akrobat-SemiBold.eot');
  src: url('../fonts/Akrobat/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat/Akrobat-SemiBold.woff') format('woff'),
  url('../fonts/Akrobat/Akrobat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeue/BebasNeueRegular.woff') format('woff'),
  url('../fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro/DINPro-CondMedium.otf'),
  url('../fonts/DINPro/DINPro-CondMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}