.icon-email_icon {
  width: 1.38em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-fb_icon {
  width: 0.46em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-google_icon {
  width: 1.57em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin_icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-moz_logo_eng_footer_logo {
  width: 1.9em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-moz_logo_eng_logo {
  width: 1.9em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-moz_logo_footer {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter_icon {
  width: 1.2em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: #C0BFBE;
  stroke: initial;
}
