// Vars for grid
$mob:'mob';
$mob-p:'mob-p';
$mob-l:'mob-l';
$tam:'tam';
$tab:'tab';
$tab-p:'tab-p';
$tab-l:'tab-l';
$tad:'tad';
$desk:'desk';
$desk-hd:'desk-hd';
$mobile-max: 768px;
$tablet-max: 1200px;
$desktop-max: 1600px;

// Vars for fonts
$AkrobatBold:'Akrobat-Bold', serif;
$AkrobatSemiBold:'Akrobat-SemiBold', serif;
$HelveticaNeueCyrRoman:'HelveticaNeueCyr-Roman', serif;
$HelveticaNeueCyrLight:'HelveticaNeueCyr-Light', serif;
$BebasNeueRegular:'BebasNeueRegular', serif;
$DINPro:'DINPro', serif;

// Vars for colors
$white: #fff;
$white-noise: #F5F5F5;
$white-dark: #E1E1E1;
$white-dark2: #E1E0E1;
$black: #2b2b2b;
$yellow: #FFC904;
$red: #C94040;
$blue: #2C368F;
$blue-dark: #29384B;
$blue-light: #48B7D5;
$grey: #c4c4c4;
$gray: #8A8B90;
$gray-dark: #5A5858;
$gray-light: #A8A9AD;
$gray-medium: #e2e1e2;
$blue-light-contrast: #9dd1ff;
$blue-dark-contrast: #6e9fd3;
