// FIRST LINE STYLES
.service__line {
  position: relative;
  &-cnt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 13px;
  }
  &-links {

  }
  &-link {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 22px;
    &-icon {
      margin-right: 25px;
      width: 9px;
      width: 17px;
      transition: 0.3s;
      &:last-child {
        margin-right: 0;
      }
    }
    &-svg {
      width: 9px;
      width: 17px;
      transition: 0.3s;
    }
  }
}

// MEDIA QUERIES FOR TABLET
@include respond-to($tam) {
  .service__line {
    // FIRST LINE STYLES
    &-social {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

// MEDIA QUERIES FOR MOBILE
@include respond-to($mob) {
  .service__line {
    // FIRST LINE STYLES
    .block__title {
      display: none;
    }
    &-cnt {
      display: block;
      margin-bottom: 26px;
    }
    &-social {
      display: none;
    }
  }
}
