extends ../extend/default

block variables
  -
    var title = "Міністерство охорони здоров'я України";
    var headLineHeight = '90';
    var departaments = ['Медичний департамент', 'Департамент економіки і фінансової політики', 'Департамент управління персоналом та кадрової політики'];
    var governments = ['Управління громадського здоров\'я', 'Управління організаційного забезпечення роботи апарату', 'Управління екстреної медичної допомоги та медицини катастроф', 'Управління координації центрів реформ', 'Управління бухгалтерського обліку і фінансової звітності', 'Управління організації роботи керівництва Міністерства', 'Управління правового забезпечення', 'Управління ліцензування та контролю якості надання медичної допомоги', 'Управління аудиту та аналітики', 'Управління фармацевтичної діяльності та якості фармацевтичної продукції'];
    var subdivisions = ['Відділ з питань міжнародної діяльності та Євроінтеграції', 'Режимно-секретний сектор', 'Патронатна служба Міністра (самостійний сектор)', 'Сектор охорони праці та матеріально-технічного забезпечення', 'Сектор оцінки та усунення корупційних ризиків', 'Відділ освіти та науки', 'Відділ забезпечення взаємодії з державними органами та громадськістю і соціального діалогу', 'Сектор мобілізаційної роботи та цивільного захисту'];
    var advisors = ['Супрун Уляна Надія', 'Ковтонюк Павло Анатолійович', 'незабудько роман володимирович', 'санталін йозеф миколайович', 'горобунов григорій федорович', 'васильківа ольга костантинівна', 'голобородько іван васильович', 'носик ольга богданівна', 'волощин Андрій дмитрович'];
    var noImgPower = {
      title: "Очищення влади",
      heading: "Про теперiшнiй стан влади",
      links: ["Докладніше про очищення влади"],
      desc:  "Проведення екстреної постконтактної профілактики працівників, які під час надання медичної допомоги та соціальних послуг людям, які живуть з ВІЛ або контактують з кров'ю або біологічними матеріалами людини, забрудненими ними інструментарієм, обладнанням чи предметами, отримали пошкодження шкірного покриву або слизової оболонки внаслідок фізичного контакту із забрудненими кров'ю або біологічними матеріалами людини інструментами, обладнанням чи іншими предметами або зазнали безпосереднього відкритого фізичного контакту з кров'ю або біологічними матеріалами людини.",
      image: "static/img/about_ministery_power.jpg"
    };
    
block main
  main.main(class="bg_white-to-light-blue" data-page='about-ministry')
    #search__wrapper
      +search()
    +disabilities()
    .container
      +breadrcrumbs(['Головна', 'Про міністерство'], 'Структура')
      h1.about__title.h2.font_upper.font_black Структура
      .about__row
        .accordion__wrapper
          +accordion(accordion, true)
        .about__ministry.about__ministry-structures
          +blockTitle('Департаменты')
          +units(departaments)
          +separateBorder()
          
          +blockTitle('Управління')
          +units(governments, 'slider slider_four_rows')
          +separateBorder()
          
          +blockTitle('Підрозділи')
          +units(subdivisions, 'slider slider_four_rows')
          +separateBorder()
          
          .advisers
            +headingTitle("Радники")
            +headingLink("Всі радники")
            div.clearfix
            +advisors(advisors, 'slider slider_three_rows')
          +separateBorder()
          
          +no_img(noImgPower)
              
