extends ../extend/default

block variables
  -
    var title = "Міністерство охорони здоров'я України";
    var departaments = ['Медичний департамент', 'Департамент економіки і фінансової політики', 'Департамент управління персоналом та кадрової політики'];
    var governments = ['Управління громадського здоров\'я', 'Управління організаційного забезпечення роботи апарату', 'Управління екстреної медичної допомоги та медицини катастроф', 'Управління координації центрів реформ', 'Управління бухгалтерського обліку і фінансової звітності', 'Управління організації роботи керівництва Міністерства', 'Управління правового забезпечення', 'Управління ліцензування та контролю якості надання медичної допомоги', 'Управління аудиту та аналітики', 'Управління фармацевтичної діяльності та якості фармацевтичної продукції'];
    var subdivisions = ['Відділ з питань міжнародної діяльності та Євроінтеграції', 'Режимно-секретний сектор', 'Патронатна служба Міністра (самостійний сектор)', 'Сектор охорони праці та матеріально-технічного забезпечення', 'Сектор оцінки та усунення корупційних ризиків', 'Відділ освіти та науки', 'Відділ забезпечення взаємодії з державними органами та громадськістю і соціального діалогу', 'Сектор мобілізаційної роботи та цивільного захисту'];
    
block main
  main.main(class="bg_white-to-light-blue" data-page='about-ministry')
    #search__wrapper
      +search()
    +disabilities()
    .container
      +breadrcrumbs(['Головна', 'Про міністерство'], 'Структура')
      h1.about__title.h2.font_upper.font_black Структура
      .about__row
        .accordion__wrapper
          +accordion(accordion, true)
        .about__ministry.about__ministry-structure
          +blockTitle('Департаменты')
          +units(departaments)
          +separateBorder()
        
          +blockTitle('Управління')
          +units(governments, 'slider slider_four_rows')
          +separateBorder()
        
          +blockTitle('Підрозділи')
          +units(subdivisions, 'slider slider_four_rows')              
