extends ../extend/default

block variables
    -
      var title = "Міністерство охорони здоров'я України";
      var advisorsName = ['Супрун Уляна', 'Ковтонюк Павло Анатолійович', 'незабудько роман володимирович', 'санталін йозеф миколайович', 'горобунов григорій федорович', 'васильківа ольга костантинівна', 'голобородько іван васильович', 'носик ольга богданівна', 'волощин Андрій дмитрович', 'бука микита андрійович', 'яворська поліна володимирівна', 'коренюк вікторія сергіївна', 'пащина тетяна миколаївна', 'грушевський андрій вікторович', 'кравченко євген йосипович', 'виходцев вячеслав сергійович', 'артемова ірина генадіївна', 'павлюченко олег сергійович', 'вітер максим максимович', 'алієв артем григорович', 'усенко анастасія олегівна', 'краснєнков дмитро павлович', 'янютіна катерина сергіївна', 'юрченко іван вадимович', 'берг антон русланович', 'ліпкін святослав ярославович', 'зайцев тимофей володимирович', 'богуцький андрій олександрович', 'лавриков дмитро богданович', 'тен сергій сергійович']
        
block main
  main.main(class="bg_white-to-light-blue" data-page='about-ministry')
    #search__wrapper
      +search()
    +disabilities()
    .container
      +breadrcrumbs(['Головна', 'Про міністерство', 'Структура'], 'Видача направлень на проходження атестації і експертизи цілительських здібностей')
      h1.about__title.h2.font_upper.font_black Структура
      .about__row
        .accordion__wrapper
          +accordion(accordion, true)
        .about__ministry
          +blockTitle("радники")
          +advisors(advisorsName)
          +pagination('pagination__only-tab')
