extends ../extend/default

block variables
  -
    var title = "Міністерство охорони здоров'я України";
    var noImgPatient = {
        title: "Права пацієнта",
        heading: "права пацієнта",
        links: ["Докладніше  про права пацієнта"],
        desc:  "Формує пропозиції до державного замовлення на підготовку фахівців, наукових, науково-педагогічних кадрів, підвищення кваліфікації та перепідготовку кадрів у сфері охорони здоров'я на відповідні роки та розміщує затверджені обсяги в установленому законодавством порядку. Формує пропозиції до державного замовлення на підготовку фахівців, наукових, науково-педагогічних кадрів, підвищення кваліфікації та перепідготовку кадрів у сфері охорони здоров'я на відповідні роки та розміщує затверджені обсяги в установленому законодавством порядку. Формує пропозиції до державного замовлення на підготовку фахівців, наукових, науково-педагогічних кадрів, підвищення кваліфікації та перепідготовку кадрів у сфері охорони здоров'я на відповідні роки та розміщує затверджені обсяги в установленому законодавством порядку. Формує пропозиції до державного замовлення на підготовку фахівців, наукових, науково-педагогічних кадрів, підвищення кваліфікації та перепідготовку кадрів у сфері охорони здоров'я на відповідні роки та розміщує затверджені обсяги в установленому законодавством порядку.",
        image: "static/img/health_img5.jpg"
    };
    var noImgHealing = {
        title: "Лікування за кордоном",
        heading: "Лікування за кордоном",
        links: ["Докладніше  про лікування за кордоном"],
        desc:  "Підвищення кваліфікації та перепідготовку кадрів у сфері охорони здоров'я на відповідні роки та розміщує затверджені обсяги в установленому законодавством порядку.",
        image: "static/img/health_img4.jpg"
    };
    var noImgLine = {
        title: "Первинна ланка",
        heading: "первинна ланка",
        links: ["Як укласти договір з лікарем?", "Перелік гарантованих послуг", "Контакти сімейних лікарів"],
        desc:  "Звіт щодо відповідності процедури державної реєстрації лікарських засобів в Україні законодавству та стандартам ЄС.",
        image: "static/img/health_img1.jpg"
    };
    var noImgFacilities = {
      heading: "Карта медзакладів",
      links: ["перейти до карти медзакладів"],
      desc:  "Водночас, більшість медичних закладів в Україні – це малопотужні та малозавантажені лікарні, які мають зношені основні фонди та застаріле технічне оснащення."
    };
    var noImgInspection = {
        heading: "Карта медзакладів",
        links: ["Національна фармацевтична інспекція"],
        desc:  "Розробка стратегії для досягнення відповідності стандартам GMP (належної виробничої практики); впровадження юридичної бази, необхідної для функціонування національної регулятивної інспекції; розробка та впровадження навчальних програм для інспекторів з GMP; заснування відповідного урядового органу для управління інспекцією; забезпечення навчання для урядовців за допомогою навчальних поїздок; визначення відповідних лабораторій, які будуть працювати з інспекцією, як на центральному, так і на регіональному рівні; отримання акредитації інспекції від ВООЗ",
        image: "static/img/health_img2.jpg"
    };
    var noImgFinance = {
        heading: "Карта медзакладів",
        links: ["Фінансування та управління у сфері охорони здоров'я України"],
        desc:  "Сприяння розвиткові ефективного і дієвого фінансування та управління у сфері охорони здоров'я в Україні",
        image: "static/img/health_img3.jpg"
    };

block main
  main.main(class="bg_white-to-light-blue" data-page='citizens')
    #search__wrapper
      +search()
    +disabilities()
    .container
      +breadrcrumbs(['Головна', 'Громадянам'], 'Медична опіка')
      h1.citizens__title.h2.font_upper.font_black Медична опіка
      .citizens__row
        .accordion__wrapper
          +accordion(accordion, true)
        .citizens.citizens__med-care
          +no_img(noImgPatient)
          +separateBorder()
          
          +no_img(noImgFacilities)
          +separateBorder()
          
          +no_img(noImgHealing)
          +separateBorder()
          
          +no_img(noImgLine)
          +separateBorder()
          
          +no_img_reverse(noImgInspection)
          +separateBorder()
          
          +no_img_reverse(noImgFinance)
          +separateBorder()
          
          +loadMore()
