extends ../extend/default
block variables
    -
        var lists = [
        { title: 'про міністерство',
          items: [ 'Про міністерство', 'Стратегія', 'Керівництво', 'Радники', 'Очищення влади', 'Положення про міністерство', 'Плани реформ', 'Міжнародна співпраця', 'Вакансії', 'Партнери', 'Боротьба з корупцією', 'Видача направлень на проходження атестації і експертизи цілительських здібностей']
        },
        { title: 'Прес-центр',
          items: [ 'Прес-центр', 'Новини', 'Анонси', 'Інтерв’ю', 'Інформаційні бюлетені', 'Фотогалерея', 'Відеогалерея', 'Презентації', 'Статистика', 'Прес-центр КМУ', 'Прес-центр КМУ' ]
        },
        { title: 'громадянам',
          items: [ 'Громадянам', 'Здоров’я А-Я', 'Медична опіка', 'Права пацієнтів', 'Карта медзакладів', 'Лікування за кордоном', 'Первинна ланка', 'Імунізація', 'Доступні ліки', 'Активні громади', 'Питання і відповіді', 'Звернення для громадян' ]
        },
        { title: 'реєстри',
        items: [ 'Реєстри та бази даних', 'Стан поставок ліків', 'Реєстр оптово-відпускних цін на ЛЗ', 'Реєстр оптово-відпускних цін на медвироби', 'Реєстр медичної техніки', 'Реєстр лікарських засобів' ]
        },
        { title: 'медичним працівникам',
        items: [ 'Медичним працівникам', 'Статті', 'Протоколи', 'Права медичного працівника', 'Безпека медичного працівника', 'Присяга лікаря', 'Вакансії лікарень', 'Вакансії лікарень' ]
        },
        { title: 'контакти',
        items: [ 'контакти', 'Онлайн форми', 'Карта мед закладів' ]
        },
        { title: 'освіта',
        items: [ 'Освіта', 'Навчальні заклади', 'Стажування', 'Гранти на навчання', 'Корисні ресурси', 'Інновації в медицині', 'Переклади', 'Бібліотека', 'Календар' ]
        }
        ]
block main
    main.main(class="bg_white-to-light-blue")
        #search__wrapper
            +search()
        +disabilities()
        .container
            +breadrcrumbs(['Головна'], 'Карта сайту')
            h1.search-result__title.h2.font_upper.font_black Карта сайту
            .sitemap
                - const itemsInBlock = 2;
                - for (var i = 0; i < lists.length; ) {
                .sitemap-block
                    - for (var j = 0; j < itemsInBlock && i < lists.length; j++) {
                        - var item = lists[i++];
                        +blockTitle(item.title)
                        ul.sitemap-list
                            each subItem in item.items
                                li.sitemap-list__item
                                    a(href="#")= subItem

                        - }
                - }